body{
  color: #606060;
}
h1, h2{
  font-size:4em;
  color: #029ACF;
}
ol, ul{
  list-style: none;
  font-size: 1em;
}
.container{
  margin-top: 80px;
}
.main-text{
  font-size:1.5em;
}
.main{
  border-bottom: 2px solid #029ACF;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.right{
  text-align:right;
}
.carousel-caption{
  font-size: 10em;
  color:rgba(255,255,255,0.7);
  top:55%;
  transform: translateY(-50%);
  line-height: 55%;
}
.carousel-subtext{
  font-size:0.4em;
}
#nav-logo{
  height:auto;
  width:50px;
  margin-top:-15px;
}
#header{
  text-align:center;
  color: #AAAAAA;
}
#about-pic{
  float:left;
}
#experience h2{
  text-align:right;
}
#experience img{
  height:auto;
  width:100%;
}
@media only screen and (max-width:1010px){
  .carousel-caption{
    font-size: 5em;
  }
}
@media only screen and (min-width:1700px){
  .item img{
    width:1700px;
    margin:auto;
  }
}
