body{
  color: #606060;
}

h2{
  font-size:4em;
  color: #029ACF;
}

ol, ul{
  list-style: none;
  font-size: 2em;
}
.main-text{
  font-size:1.5em;
}

.main{
  background-color: #CCC;
  margin-top: 10px;
}

#nav-logo{
  height:auto;
  width:50px;
  margin-top:-15px;
}

#header{
  text-align:center;
  color: #AAAAAA;
}
#about-pic{
  float:left;
}

#profile{

}

#experience{
  text-align:right;
}
